[submodule ".registry"]
	path = .registry
	url = https://github.com/marniemaddock/marniemaddock.r-universe.dev
	branch = HEAD
[submodule "FRDATranscriptomicAtlas"]
	path = FRDATranscriptomicAtlas
	url = https://github.com/MarnieMaddock/FRDATranscriptomicAtlas
